<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hola {{nombreUsuario}}!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-searchbar [formControl]="searchControl" placeholder="Buscar por nombre"></ion-searchbar>

  <ion-button (click)="nuevoVendedor()">Nuevo vendedor</ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Vendedores</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let vendedor of vendedores">
      <ion-label>{{vendedor.nombre}} {{vendedor.apellido}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button color="danger" (click)="logout()">Cerrar sesión</ion-button>
</ion-content>
